/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* Body styling */
body {
    background-color: #9cb0c5;
    color: #333;
    line-height: 1.6;
}

/* Header and navigation */
header {
    background-color: #0a4d8c;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 60px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}



/* Main heading */
h1 {
    text-align: center;
    margin: 20px 0;
    color: #0a4d8c;
}

/* Main layout */
main {
    display: flex;
    gap: 50px;
    padding: 20px;
}

/* Section styling */
section {
    flex: 3;
    background: #ffffff;
    padding: 20px;
    border-radius: 6px;
}

section h2 {
    color: #0a4d8c;
    margin-bottom: 10px;
}

section img {
    display: block;
    margin: 15px 0;
    border-radius: 5px;
}

/* Aside styling */
aside {
    flex: 1;
    background: #e9eef3;
    padding: 15px;
    border-radius: 6px;
}

/* Footer */
footer {
    background-color: #0a4d8c;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* Links inside content */
section a {
    color: #0a4d8c;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}
